<a href="https://colab.research.google.com/github/2303A51965/2303A51965/blob/main/2303A51965_16_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


file_path = 'tripadvisor_review.csv'
data = pd.read_csv(file_path)
print(data.head())
print(data.info())

  User ID  Category 1  Category 2  Category 3  Category 4  Category 5  \
0  User 1        0.93         1.8        2.29        0.62        0.80
1  User 2        1.02         2.2        2.66        0.64        1.42
2  User 3        1.22         0.8        0.54        0.53        0.24
3  User 4        0.45         1.8        0.29        0.57        0.46
4  User 5        0.51         1.2        1.18        0.57        1.54

   Category 6  Category 7  Category 8  Category 9  Category 10
0        2.42        3.19        2.79        1.82         2.42
1        3.18        3.21        2.63        1.86         2.32
2        1.54        3.18        2.80        1.31         2.50
3        1.52        3.18        2.96        1.57         2.86
4        2.02        3.18        2.78        1.18         2.54
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User ID      980 non-null    object
 1   Category 1   980 non-null    float64
 2   Category 2   980 non-null    float64
 3   Category 3   980 non-null    float64
 4   Category 4   980 non-null    float64
 5   Category 5   980 non-null    float64
 6   Category 6   980 non-null    float64
 7   Category 7   980 non-null    float64
 8   Category 8   980 non-null    float64
 9   Category 9   980 non-null    float64
 10  Category 10  980 non-null    float64
dtypes: float64(10), object(1)
memory usage: 84.3+ KB
None

In [ ]:

top_destinations = data.iloc[:, 1:].sum().sort_values(ascending=False).head(5)
print("Top 5 Travel Destinations:")
print(top_destinations)

Top 5 Travel Destinations:
Category 7     3117.32
Category 8     2778.36
Category 10    2743.24
Category 6     1806.04
Category 9     1538.05
dtype: float64

In [ ]:

most_liked_category = data.iloc[:, 1:].mean().idxmax()
print(f"The most liked category by travelers: {most_liked_category}")

The most liked category by travelers: Category 7

In [ ]:

max_likes = data[most_liked_category].max()
min_likes = data[most_liked_category].min()
print(f"Maximum score in {most_liked_category}: {max_likes}")
print(f"Minimum score in {most_liked_category}: {min_likes}")

Maximum score in Category 7: 3.21
Minimum score in Category 7: 3.16

In [ ]:

religious_count = (data['Category 4'] == data.iloc[:, 1:].max(axis=1)).sum()
print(f"Count of travelers who liked religious institutions the most: {religious_count}")

Count of travelers who liked religious institutions the most: 1

In [ ]:

beaches_and_picnic = data[(data['Category 1'] == data.iloc[:, 1:].max(axis=1)) |
                          (data['Category 2'] == data.iloc[:, 1:].max(axis=1))]

print("Travelers who like beaches and picnic spots the most:")
print(beaches_and_picnic[['User ID']])

Travelers who like beaches and picnic spots the most:
      User ID
322  User 323
812  User 813